* {
	margin: 0;
}
body {
	font-family: avenir, tahoma;
	width: 50%;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
header {
	text-align: center;
	padding: 50px;
}
#top-section {
	margin: 0 0 50px 0;
}
ul {
	list-style-type: none;
}
li p {
	display: inline;
}
li input {
	margin: 10px;
}


.hide {
	display: none;
}


footer {
	font-size: .7em;
	text-align: center;
	margin: 100px 0 0 0;
}
